<%- include('../partials/header.ejs') %>

    <h1>My Dynamic Training Sessions</h1>
    <% if (trainings.length) { %>
      <section class="trainings-container">
          <% trainings.forEach((training) => { %>
            <article>
              <p>
                Location: <%= training.location %><br>
                Date: <%= training.date.toLocaleDateString() %><br>
                Dynamic Session Type: <%= training.type %>
              </p>
              <a href="/trainings/<%= training._id %>" class="btn">DETAILS</a> 
            </article>
          <% }) %>
      </section>
  <% } else { %>
      <h3>Create Your Training Sessions</h3>
  <% } %>
<%- include('../partials/footer.ejs') %>