<%- include('../partials/header.ejs') %>

    <h1>My Dynamic Training Sessions</h1>
    <% if (trainings.length) { %>
      <section class="trainings-container">
          <% trainings.forEach((training) => { %>
            <article>
              <p>
                  Location: <%= training.location %>
              </p>
              <p>
                Date: <%= training.date.toLocaleDateString() %>
              </p>
              <p>
                Dynamic Session Type: <%= training.type %>
              </p>
              <p>
                Phone: <%= training.phone %>
              </p>
              <p>
                Cost Per Hour: $<%= training.price %>
              </p>
              <form action="/users/<%= user._id %>/bookings/<%= training._id %>" method="POST">
                <button type="submit">Book Session!</button>
              </form>
            </article>
          <% }) %>
      </section>
  <% } else { %>
      <h3>Create Your Training Sessions</h3>
  <% } %>
<%- include('../partials/footer.ejs') %>