<%- include('../partials/header.ejs') %>

    <h1>My Dynamic Training Sessions</h1>
    <% if (trainings.length) { %>
      <ul>
          <% trainings.forEach((training) => { %>
              <li>
                  <%= training.name %> &nbsp;&nbsp; 
              </li>
              <li>
                <%= training.price %> &nbsp;&nbsp; 
              </li>
              <li>
                <%= training.description %> &nbsp;&nbsp; 
              </li>
              <form action="/users/<%= user._id %>/bookings/<%= training._id %>" method="POST">
                <button type="submit">Book Session!</button>
              </form>
          <% }) %>
      </ul>
  <% } else { %>
      <h3>Create Your Training Sessions</h3>
  <% } %>
<%- include('../partials/footer.ejs') %>