<%- include('../partials/header.ejs') %>

    <h1>My Dynamic Training Session</h1>
    <section class="trainings-container">
      <article>
        <p>
            Location: <%= training.location %>
        </p>
        <p>
          Date: <%= training.date.toLocaleDateString() %>
        </p>
        <p>
          Dynamic Session Type: <%= training.type %>
        </p>
        <p>
          Phone: <%= training.phone %>
        </p>
        <p>
          Cost Per Hour: $<%= training.price %>
        </p>
        <a href="/trainings/<%= training._id %>/edit">EDIT</a> 
        <form action="/trainings/<%= training._id %>?_method=DELETE" method="POST">
          <button type="submit">DELETE!</button>
        </form>
      </article>
    </section>
<%- include('../partials/footer.ejs') %>